<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" src="images/M-logo.ico">
    <title>Anagrams Generator</title>
        
    <!-- Bootstrap core CSS -->
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    
    <!-- FontAwesome CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">
    
    <!-- jQuery library -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    
    <!-- Latest compiled javascript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    
           <!-- Custom styles for this template -->
     <link href="/style.css" rel="stylesheet">
      <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet">
    
    <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-77034531-1', 'auto');
  ga('send', 'pageview');

</script>
    </head>
<body>
    <nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
            <a class="navbar-brand" href="/">Anagram Generator</a>
             </div>
             
             <!-- Collect the nav links -->
    <div class="collapse navbar-collapse" id="myNavbar">
          <ul class="nav navbar-nav">
              <li class="active"><a href="/">Home</a></li>
            <li><a href="http://michelleisclever.github.io">About the Developer</a></li>
            <li><a href="http://www.linkedin.com/in/mmcmanus">Connect with Me!</a></li>
          </ul>
      </div>
        </div>
    </nav>
    
    <div class="container">
      <div class="starter-template">
          <div class="btn-group">
        <a href="/words" class="btn btn-default"><i class="fa fa-eye" ></i> Explore the Dictionary!</a>
<a href="/" class="btn btn-default"><i class="fa fa-search"></i> Try A New Word!</a>
              <a href="/words/new" class="btn btn-default"><i class="fa fa-plus"></i> Add a New Word!</a>
</div>
          
        <%= yield %>
        </div>
    </div><!-- /.container -->
    
      <!-- Bootstrap core JavaScript
    ================================================== -->

    </body>
</html>