<h1>Anagrams for <%= "#{@word}" %></h1>

    <table class="table table-striped">
<thead style="text-align:center">
    <th style="text-align:center">Results</th>
    </thead>
<tbody>
    <tr>
     <% @anagrams.each do |anagram| %>
    <tr>
    <td>
        <%= "#{anagram}" %>
                  </td>
    </tr>
    <% end %>
    </tbody>
</table>
<a href="/" class="btn btn-default">Try Another Word!</a>