<h1>Anagrams for <%= "#{@word}" %></h1>

    <table class="table table-striped">
<thead style="text-align:center">
    <th style="text-align:center">Results</th>
    </thead>
<tbody>
    <tr>
        <% if !@anagrams.nil? %>
        <% @anagrams.each do |word| %>
    <tr>
    <td>
        <%= word.text %>
                  </td>
    </tr>
    <% end %>
    <% end %>
    </tbody>
</table>